@page
@model BugTrackerProject.Pages.Issues.Index

@{
    ViewData["Title"] = "Bug Tracker";
}

<div class="text-center">
    <h1 class="display-4">just testing redirecting after login</h1>
    <p class="mt-4">Some bugs will come here!!!</p>
</div>