@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BugTracker</h1>
    <p class="mt-4">Please <a asp-area="Identity" asp-page="/Account/Register">Register</a> 
        or <a  asp-area="Identity" asp-page="/Account/Login">Login</a> to have access to our application</p>
</div>